* {
    margin: 0;
    padding: 0;
}

#gameID {
    width: 400px;
    height: 500px;
    background-color: #023044;
    border: 10px solid #d0ff00;
    margin: auto;
    overflow: hidden;
}

#block {
    width: 50px;
    height: 500px;
    background-color: #0abce1;
    position: relative;
    left: 400px;
    animation: block 2s infinite linear;
}

@keyframes block {
    0% {
        left: 400px
    }
    100% {
        left: -50px
    }
}

#hole {
    width: 50px;
    height: 150px;
    background-color: #023044;
    position: relative;
    left: 400px;
    top: -500px;
    animation: block 2s infinite linear;
}

#bird {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 100px;
    border-radius: 50%;
}

img {
    width: 64px;
    height: 40px;
    margin-left: -20px;
}